.wrapper {
  --bxsh-width: 5px;
  --h-menu-spacing: 36px;
  --transition-tail: 200ms ease-out;

  z-index: 1;
}

.menu {
  overflow-y: auto;
  position: fixed;
  top: var(--h-menu-spacing);
  bottom: 0;
  right: 0;
  width: 210px;
  background-color: var(--c-gray);
  box-shadow: calc(-1 * var(--bxsh-width)) 0px 0px 0px rgba(var(--c-black-rgb), 0.15);
  transform: translateX(calc(100% + var(--bxsh-width)));
  transition: transform var(--transition-tail);
  will-change: trasnform;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 10px;
}
.isOpen .menu {
  transform: translateX(0);
}

.overlay {
  pointer-events: none;
  position: fixed;
  top: var(--h-menu-spacing);
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(var(--c-black-rgb), 0.5);
  opacity: 0;
  transition: opacity var(--transition-tail);
  will-change: opacity;
  backface-visibility: hidden;
}
.isOpen .overlay {
  pointer-events: all;
  opacity: 1;
}
