.wrapper {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--c-gray-dark);

  text-decoration: none;
  font-family: monospace;
  font-weight: 700;

  display: flex;
  align-items: center;
}
.wrapper:hover {
  text-decoration: underline;
}
.wrapper + .wrapper {
  margin-top: 15px;
}

.wrapper.isDisabled {
  text-decoration: none;
  cursor: auto;
  color: #677985;
}

.wrapper.hasNotification {
  color: var(--c-black);
}

.notificationBall {
  flex-shrink: 0;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: var(--c-success-semi-dark);
  margin-right: 10px;
}
