.wrapper {
  background-color: #28282b;
  display: flex;
  align-items: center;
  padding: 12px;
}
.wrapper * + * {
  margin-left: 12px;
}

.wrapper button {
  background-color: #eeedc9;
  border: none;
  font-size: 20px;
  width: 37px;
  height: 37px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elapsedTimeBar {
  flex-grow: 1;
}
