.wrapper {
  height: 36px;
  background-color: var(--c-black);
  color: var(--c-gray-semi-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9px;
  font-family: monospace;
  font-weight: 700;
}

.headerIconButton {
  color: var(--c-gray-semi-dark);
  padding: 7px;
  border: none;
  background-color: transparent;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerIconButton:hover {
  color: var(--c-white);
}

.removeChecksButton:hover {
  color: var(--c-error);
}

.hasNotification .menuButton {
  position: relative;
}
.hasNotification .menuButton::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: var(--c-white);
  transform: translate(-4px, 3px);
}

.filesInfo {
  margin-left: 7px;
}
