.wrapper {
  height: 36px;
  background-color: var(--c-black);
  color: var(--c-gray-semi-dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 9px;
  font-family: monospace;
  font-weight: 700;
}
