:root {
  --c-primary: #357792;
  --c-primary-gray: #829dbe;
  --c-primary-light: #a7cced;
  --c-secondary: #355691;
  --c-white: #ececec;
  --c-black: #222831;
  --c-gray: #a1adb5;
  --c-gray-semi-dark: #9ea3b0;
  --c-success: #5da271;
  --c-error: #c16969;
  --c-accent: #ffd166;
}
